
<!-- load js from static files -->
</div>
<script>
    if (window.location.pathname == "/wallet") {
       let btnGenerateWalletAddress = document.getElementById("generate-wallet-address");
       btnGenerateWalletAddress.addEventListener("click", generateWalletAddress);
           
    }

    async function generateWalletAddress() {
        // navigate to /wallet/new
        window.location.href = "/wallet/new";
    }
</script>
<script src="{{ url_for('static', filename='js/tabler.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabler.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>