
<!-- load js from static files -->
</div>
<div class="modal modal-blur fade" id="modal-success" tabindex="-1" role="dialog" aria-modal="true" style="display: none; padding-left: 0px;">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-success"></div>
        <div class="modal-body text-center py-4">
          <i class="ti ti-circle-check icon mb-2 text-green icon-lg" style="font-size: 5rem;"></i>
          <h3>Payment succedeed</h3>
          <div id="pay-message" class="text-muted"></div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                  Close
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    if (window.location.pathname == "/wallet") {
       let btnGenerateWalletAddress = document.getElementById("generate-wallet-address");
       btnGenerateWalletAddress.addEventListener("click", generateWalletAddress);
           
    }

    async function generateWalletAddress() {
        let input_public = document.getElementById("public_key");
        let input_private = document.getElementById("private_key");
        let res = await fetch("/wallet/new", {
            method: "POST"
        });
        let data = await res.json();
        input_public.value = data.address['private_key'];
        input_private.value = data.address['public_key'];
        let alert = document.getElementsByClassName("alert-warning")[0];
        // remove the display none property
        alert.style.display = "block";
        // disable the button using disabled class
        document.getElementById("generate-wallet-address").classList.add("disabled");
    }

    if(window.location.pathname == "/dashboard") {
        let btnGetTableData = document.querySelector("#pending")
        let btnMine = document.querySelector("#mine")
        btnGetTableData.addEventListener("click", getTableData);
        btnMine.addEventListener("click", mine);
        fetchBlockchainData();
    }

    if(window.location.pathname == "/send-money") {
        // get data from the form
        let sender_address = document.querySelector("#sender-address");
        let sender_private_key = document.querySelector("#sender-private-key");
        let recipient_address = document.querySelector("#recipient-address");
        let amount = document.querySelector("#amount");
        // get the form
        let form = document.querySelector("#send-money");

        // get success modal
        let successModal = document.querySelector('#modal-success')


        form.addEventListener("submit", async function(e) {
            e.preventDefault();
            let data = {
                sender_address: sender_address.value,
                sender_private_key: sender_private_key.value,
                recipient_address: recipient_address.value,
                amount: amount.value
            }
            let { res, status} = await sendMoney(data);
            if(status == 201) {
                let newData = {
                    signature: res.signature,
                    sender_address: res.transaction.sender_address,
                    recipient_address: res.transaction.recipient_address,
                    amount: res.transaction.amount
                }
                await makeTransaction(newData, successModal)
            }

        });

        successModal.addEventListener('click', () => {
        form.reset()
        successModal.classList.remove('show')
        successModal.style.display = 'none'
    })
    }

    async function makeTransaction(data, successModal) {
        let res = await fetch("/transactions/new", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        document.getElementById('pay-message').innerHTML = `Your payement of ${data.amount} has been successfully made`
        successModal.classList.add('show')
        successModal.style.display = 'block'
    }


    async function sendMoney(data) {
        let res = await fetch("/generate/transaction", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            }
        });
        let res_data = await res.json();
        return { res: res_data, status: res.status}
    }

    async function fetchBlockchainData() {
        let res = await fetch("/chain");
        let res_data = await res.json();
        let { chain } = res_data
        res_data.chain.forEach(chain => console.log(chain.data[0]?.nonce))
        let table = document.getElementById("table-blockchain");
        let innerHTML = `
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recepient Address</th>
                        <th>Sender Address</th>
                        <th>value</th>
                        <th>Timestamp</th>
                        <th>Block</th>
                    </tr>
                </thead>
        `;
        chain.forEach(block => {
            innerHTML += `
                <tbody>
                <tr>
                    <td>${block.index + 1}</td>
                    <td>${block.data[0]?.recipient_address ? block.data[0]?.recipient_address : 0}</td>
                    <td>${block.data[0]?.sender_address ? block.data[0]?.sender_address : 0}</td>
                    <td>${block.data[0]?.ammount ? block.data[0]?.ammount : 0}</td>
                    <td>${new Date(block.timestamp).toDateString()}</td>
                    <td>${block.index + 1}</td>
                </tr>
                </tbody>
            `;
        });
        table.innerHTML = innerHTML;
        await getTableData()
    }

    async function getTableData() {
        let res = await fetch('/transactions/get')
        let { transactions } = await res.json()

        let table = document.querySelector("#pending-transactions")
        table.innerHTML = `
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recepient Address</th>
                        <th>Sender Address</th>
                        <th>Value</th>
                    </tr>
                </thead>
                `
        transactions.forEach(element => {
            let html = `
            <tbody>
                <tr>
                    <td>${element?.nonce}</td>
                    <td>${element?.recipient_address}</td>
                    <td>${element?.sender_address}</td>
                    <td>${element?.nonce}</td>
                </tr>
            </tbody>
            `
            table.innerHTML += html
        })

    }

    async function mine() {
        let res = await fetch('/mine')
        let data = await res.json()
        console.log(data)
        fetchBlockchainData()
    }


</script>
<script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}" async defer></script>
<script src="{{ url_for('static', filename='js/tabler.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabler.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>