{% include "layout.html" %}
<div class="page-wrapper">
  <div class="container-xl">
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            <i class="ti ti-wallet icon"></i>
            <span class="mx-2">Your Wallet</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
          <form class="card">
            <div class="card-header">
              <h3 class="card-title">Wallet</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4">
                  <div class="row">
                    <div class="col-md-12 col-xl-12">
                      <div class="mb-3">
                        <label for="wallet address" class="form-label">
                          Your Wallet Public Key
                        </label>
                        <input type="text" class="form-control mb-2" id="private_key" value="" readonly>
                        <label for="wallet address" class="form-label">
                          Your Wallet Private Key
                        </label>
                        <input type="text" class="form-control mb-2" id="public_key" value="" readonly>
                        <!-- when wallet address is generated show a warning message to save the address -->
                        <div class="alert alert-warning" style="display: none;" role="alert">
                          <strong>Warning!</strong>
                          <p>
                            Please save your wallet address to keep your funds safe.
                          </p>
                        </div>
                        <!-- button to generate wallet address -->
                        <button type="button" class="btn btn-primary" id="generate-wallet-address">
                          Generate Wallet Address
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
